/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MY CSS */

#layout {
  display: grid;
  background-color: pink;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}

#layout header {
  position: absolute;
  padding: 3em;
  display: flex;
}

#layout header nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

#layout header nav div#nav-wrapper {
  display: fixed;
  width: 100vw;
  height: 100vh;
}

#layout header nav button {
  z-index: 99;
  background-color: green;
  position: relative;
}

#layout header nav div#nav-wrapper.hidden {
  display: none;
}

#layout header div#nav-wrapper {
  /* display: none; */
  background-color: rgba(255, 0, 0, 0.346);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 3em;
}

.heroHeader {
  background-color: rgb(215, 215, 247);
}

#hero {
  display: grid;
  grid-template-columns: 1fr;
}

#hero picture,
#hero img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  #hero {
    grid-template-columns: 60% 40%;
  }
}
