/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MY CSS */

#layout {
  background-color: pink;
  min-height: 100vh;
}

#layout header {
  position: fixed;
  display: flex;
}

#layout header div#mobile-menu {
  background-color: rgba(255, 0, 0, 0.346);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 2em 1em;
}

#layout header div#nav-wrapper ul {
  margin-left: 3em;
}

.heroHeader {
  background-color: rgb(215, 215, 247);
}

#hero {
  display: grid;
  grid-template-columns: 1fr;
}

#hero picture,
#hero img {
  width: 100%;
}

.text-body {
  min-height: 300vh;
}

nav {
  > div#nav-background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 150ms ease-in;

    &.active {
      background-color: rgba(0, 0, 0, 0.771);
    }
  }

  .slide-content {
    z-index: 2;
    height: 100vh;
    background-color: red;
    visibility: hidden;
    width: 0;
    top: 0;
    position: fixed;
    transition: width 200ms ease-in-out;

    > ul {
      opacity: 0;
      transition: opacity 3 00ms ease-in-out;
    }

    &.visible {
      visibility: visible;

      > ul {
        opacity: 100;
        transition: opacity 400ms ease-in-out;
      }
    }

    &.active {
      width: 250px;
    }
  }
}

*:focus {
  color: green;
  background-color: orange;
}

@media only screen and (min-width: 1024px) {
  #hero {
    grid-template-columns: 60% 40%;
  }

  nav {
    #hamburger-btn-open,
    #hamburger-btn-close {
      display: none;
    }

    .slide-content {
      background-color: transparent;
      visibility: visible;
      width: 100vw;
      height: 50px;
      transition: none;
      display: flex;
      align-items: center;

      > ul {
        opacity: 100;
        display: flex;
        gap: 2em;
      }
    }
  }
}
